.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background: #fff1c3;
}
.filter button{
    background: none;
    cursor: pointer;
}

.filter .dark_mode{
    display: flex;
    align-items: center;
    
}
.filter ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.filter li{

}
.filter .active button{
    font-weight: bold;
}

.filter li button{

}