.item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.7rem;
    gap:10px;
}
.item:last-child{
    margin-bottom: 0;
}

.checkbox_wrap{
    width: calc(100% - 30px);
    font-size: 0;
}
.checkbox_wrap input[type="checkbox"]{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-top: 2px;
    vertical-align: top;
}
.checkbox_wrap label{
    display: inline-block;
    width: calc(100% - 1.6rem);
    margin-left: 0.5rem;
    font-size: 1rem;
    color: var(--color-text);
    word-break: break-word;
}
.checkbox_wrap input[type="checkbox"]:checked + label{
    text-decoration: line-through;
}
.btn_delete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: none;
    cursor: pointer;
    transition: transform .2s;
}
.btn_delete:hover{
    transform: rotate(15deg);
}
.btn_delete svg{
    width: 18px;
    height: 18px;
}